<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
    <div class="user-list">
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
      </li>
      
    </div>
    <% end %>
  </ul>
  <%= link_to 'dashboard', dashboards_path %>
</section>
