<section class="users-section">
    <table class='table table-condensed'>
    <thead>
      <tr class="heading">
        <th>Name</th>
        <th>Profile</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="part">
      <%= render partial: 'friendships/friend', collection: @users, as: :user %>
    </tbody>
  </table>
</section>
  