<%= content_tag :tr, id: dom_id(user) do %>
    <td><%= user.name %></td>
    <td>
     <span class="profile-link">
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span></td>
    <td>
  <%= render partial: 'friendships/friendship_button',locals:{user:user} %>
    </td>
<% end %>